.block * {
  display: block;
  background-color: aqua;
  margin: 5px;
  padding: 5px;
  width: 400px;
  height: 200px;
}

.inline * {
  display: inline;
  background-color: aqua;
  margin: 5px;
  padding: 5px;
  /* w h ไม่มีผล ไม่ทำงาน ไม่สามารถกำหนดได้ */
  width: 400px;
  height: 200px;
}
.inline-block * {
  display: inline-block;
  background-color: aqua;
  margin: 5px;
  padding: 5px;
  width: 80px;
  height: 40px;
}

.none:hover * {
  display: none;
  background-color: aqua;
  margin: 5px;
  padding: 5px;
  width: 80px;
  height: 40px;
}
