.bg-demo {
  width: 100%;
  height: 200px;
  border: 3px solid #333;
  color: white;
  margin: 15px 0;
}

.bg-color {
  background-color: aqua;
}

.bg-image {
  /* background-image: url("../../images/download.jpeg"); */
  background-image: url("https://picsum.photos/200/300");
  background-size: cover;
  background-repeat: no-repeat;
}

.linear-gradient {
  background: linear-gradient(to right, red, yellow, green);
}

.radial-gradient {
  background: radial-gradient(ellipse, red, yellow, green);
  /* background: radial-gradient(circle, red, yellow, green); */
}

.conic-gradient {
  background: conic-gradient(red, yellow, green);
}
