.link {
  display: inline-block;
  background-color: #333;
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 10px;
  border-radius: 4px;
}

.example {
  background-color: #ccc;
  margin: 20px 0;
  padding: 20px;
  border-left: 4px solid black;
  border-radius: 8px;
}
