@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Science+Gothic:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  margin: 20px auto;
  background-color: #eee;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

html {
  font-family: "Science Gothic", sans-serif;
}

.link {
  display: inline-block;
  background-color: #333;
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 10px;
  border-radius: 4px;
}

.link:hover {
  background-color: #555;
}

.example {
  background-color: #ccc;
  margin: 20px 0;
  padding: 20px;
  border-left: 4px solid black;
  border-radius: 8px;
}
