.border {
  padding: 4px;
  border: 5px solid blue;
}

#unit div:nth-of-type(1) div {
  width: 50px;
}

#unit div:nth-of-type(2) div {
  width: 50%;
}

#unit div:nth-of-type(3) div {
  font-size: 16px;
  width: 10em;
}

/* html {
  font-size: 3px;
} */
#unit div:nth-of-type(4) div {
  width: 10rem;
}

#unit div:nth-of-type(5) div {
  width: 50vw;
  height: 10vh;
}

#unit div:nth-of-type(6) div {
  width: 6ch;
  padding: 0px;
}

#unit div:nth-of-type(7) div {
  height: 6ex;
  padding: 0px;
}

#unit div:nth-of-type(8) div {
  width: min(50%, 200px);
  /* width: 50%;
  min-width: 150px;
  max-width: 200px; */
}
#unit div:nth-of-type(9) div {
  width: max(50%, 200px);
  /* width: 50%;
  min-width: 150px;
  max-width: 200px; */
}

#unit div:nth-of-type(10) div {
  width: clamp(100px, 50%, 300px);
  font-size: clamp(12px, 2vw, 100px);
}

#unit div:nth-of-type(11) div {
  width: calc(50% + 100px);
}
