.box {
  width: 150px;
  padding: 20px;
  margin: 10px 0;
  background-color: blue;
  color: white;
  text-align: center;
}

.transition-basic {
  transition-property: all;
  transition-duration: 2s;
}

.transition-basic:hover {
  background-color: red;
  font-size: 24px;
  border-radius: 50%;
}

.transform {
  transform: translate(500px, 0);
  background-color: aqua;
}

.box {
  background-color: aqua;
  border: 2px solid black;
  font-size: 18px;
  margin: 10px;
  margin-top: 50px;
  padding: 30px 10px;
  width: 80px;

  animation-name: jumping-box;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

@keyframes jumping-box {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.new-box {
  background-color: blue;
  width: 300px;
  height: 300px;

  animation: disappear 5s ease-in-out 1s infinite;
}
