.pos-demo {
  padding: 20px;
  background-color: #333;
  color: white;
  border-radius: 4px;
  margin: 20px 0;
  width: 200px;
}

.static {
  position: static;
  /* ใช้ไม่ได้ */
  /* top: 50px; */
  /* bottom: 50px;
  left: 150px; */
  /* right: 50px; */
}

.relative {
  position: relative;
  /* top: 50px; */
  bottom: 50px;
  left: 150px;
  /* right: 50px; */
  background-color: green;
}

.relative-parent {
  position: relative;
  height: 200px;
  padding: 20px;
  border: 3px solid #333;
  background-color: white;
}

.absolute {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: aqua;
  z-index: 1;
}
.absolute2 {
  z-index: 2;
  position: absolute;
  top: 45px;
  left: 10px;
  background-color: aquamarine;
}
.absolute3 {
  z-index: 3;
  position: absolute;
  top: 15px;
  left: 10px;
  background-color: red;
}

.fixed {
  position: fixed;
  top: -20px;
  right: 20px;
  background: red;
  z-index: 10;
}

.sticky {
  position: sticky;
  top: 65px;
  /* left: 10px; */
  margin: auto;
}

.p-sticky {
  height: 300px;
  background-color: beige;
}
