.item {
  background-color: green;
  padding: 20px;
  color: white;
  border-radius: 8px;
  text-align: center;
}

.flex-demo {
  background-color: white;
  width: 500px;
  height: 500px;
  font-size: 24px;
  /* display: flex;
  align-items: start;
  justify-content: end; */
}
/* html {
  font-size: 50px;
} */

.item-demo {
  background-color: green;
  padding: 10px;
  color: white;
  border-radius: 8px;
  width: 300px;
  height: 300px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.flex-box {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* gap: 10px; */
  column-gap: 10px;
  row-gap: 10px;
  background-color: white;
  border: 2px solid black;
  margin: 15px 0;
  height: 500px;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

/* ----------------- 3 ------------- */

.flex-start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

/* -------------- 4 ------------ */

.tall {
  padding: 40px 20px;
}

.stretch {
  align-items: stretch;
}

.al-flex-start {
  align-items: flex-start;
}

.al-center {
  align-items: center;
}

.al-flex-end {
  align-items: flex-end;
}

.baseline {
  align-items: baseline;
}

/* -------------- flex item property */
/* .grow-2 {
  flex-grow: 2;
  background-color: red;
} */

.wide {
  width: 300px;
}
