.content {
  width: 200px;
  height: 200px;
  background-color: darkgrey;
  box-sizing: border-box;
}

.padding-demo {
  /* padding: 20px; */
  /* padding: 15px 20px; */
  /* padding: 10px 20px 30px; */
  padding: 10px 20px 30px 40px;
}

.border-demo {
  /* border-width: 10px; */
  /* solid double dotted dashed */
  /* border-style: solid; */
  /* border-color: blue; */
  border: 5px solid blueviolet;
}

.border-radius-demo {
  /* border-radius: 10px; */
  /* border-radius: 10px 20px; */
  /* border-radius: 10px 20px 30px;
  border-radius: 10px 20px 30px 40px; */
  border-radius: 5%;
}

.margin-demo {
  margin: 20px;
}

.box-shadow-demo {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
